html,
body {
  height: 100%;
  font: 1rem monospace;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: lightgrey;
  padding: 1px;
  width: 50%;
}

#meta {
  background-color: lightgrey;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  height: 3.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lives div {
  width: 4%;
  height: 100%;
  background: url('../images/extra_life.png') center/100% no-repeat;
}

#grid {
  -webkit-user-select: none;
  touch-action: none;
  user-select: none;
  width: 100%;
}
#grid div { image-rendering: pixelated; }
#grid div.empty { background: url('../images/empty.png') center/100%; }
#grid div.player { background: url('../images/player.png') center/100%; }
#grid div.wall { background: url('../images/wall.png') center/100%; }
#grid div.block { background: url('../images/block.png') center/100%; }
#grid div.pickup { background: url('../images/pickup.png') center/100%; }
#grid div.enemy { background: url('../images/enemy.png') center/100%; }
#grid div.enemy_trapped { background: url('../images/enemy_trapped.png') center/100%; }

/* desktop styles */
@media (min-width: 768px) and (orientation: landscape) {
  #meta, #grid { width: 50%; }
}
